@import '../../styles/mixins.scss';

.navbar {
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1310px;
	width: 100%;
	padding: 15px;
	@include for-tablet-landscape-up {
		padding: 32px 0;
	}
}

.list {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 100%;
	@include for-tablet-landscape-up {
		flex-direction: row;
		text-align: left;
	}
}

.item {
	text-transform: uppercase;
	margin: 15px 0;

	@include for-tablet-landscape-up {
		margin: 0;
		&:not(:last-child) {
			margin-right: 50px;
		}
	}
}

.link {
	text-decoration: none;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.05em;
}

.dark {
	.link {
		color: var(--color-black);
		&:hover {
			color: var(--color-gray);
		}
	}
	.active {
		color: var(--color-orange);
		&:hover {
			opacity: 0.75;
		}
	}
}

.light {
	z-index: 15;
	position: absolute;
	.link {
		color: var(--color-white);
		&:hover {
			opacity: 0.75;
		}
	}

	.active {
		color: var(--color-orange);
		&:hover {
			opacity: 0.75;
		}
	}
}
