@import '../../styles/mixins.scss';

.hamburger {
	border: none;
	@include for-tablet-landscape-up {
		display: none;
	}
}

.collapse {
	display: none;
	width: 100%;
	@include for-tablet-landscape-up {
		display: block;
	}
}

.show {
	display: flex;
	position: absolute;
	height: 100vh;
	background: #fff;
	align-items: center;
}
