:root {
	--color-white: #fff;
	--color-black: #111;
	--color-orange: #f26e16;
	--color-gray: #858585;
	--color-light-gray: #e6e6e6;
}

* {
	box-sizing: border-box;
}

html {
	font-family: 'Montserrat', sans-serif;
}

//TODO: Fix this
body {
	overflow-x: hidden;
}

p {
	font-weight: 500;
	font-size: 14px;
	line-height: 25px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: var(--color-gray);
	margin: 0 0 40px 0;
}

.content {
	max-width: 1032px;
	margin: 50px auto 100px auto;
}

.logo-text {
	font-weight: 600;
	font-size: 200px;
	line-height: 244px;
	letter-spacing: 0.05em;
	text-transform: lowercase;
	color: #f1f1f1;
	transform: rotate(-90deg);
	position: absolute;
	right: -142px;
	top: 60px;
	z-index: -1;
}

.text-wrap {
	display: flex;
	flex-wrap: wrap;
}

.text {
	flex: 1 0 50%;
	&:first-child {
		padding-right: 20px;
	}
	&:last-child {
		padding-left: 20px;
	}
	p:last-child {
		margin-bottom: 0;
	}
}

.block-wrap {
	display: flex;
}

.block-left,
.block-right {
	flex: 1 0 50%;
}

.block-left {
	padding-right: 25px;
}

.block-right {
	padding-left: 25px;
}
